<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://maps.googleapis.com/ https://maps.gstatic.com/ https://mts0.googleapis.com/ https://mts1.googleapis.com/ 'unsafe-inline' 'unsafe-eval'">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=false"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter">

    <ion-pane>
    <ion-tabs class ="tabs-positive">
    <ion-tab title="home">
      <ion-header-bar class="bar-positive">
  <h1 class="title">Contact Info</h1>
</ion-header-bar>
<ion-content ng-controller='MainCtrl' on-swipe-right="goBack()" on-swipe-left="goForward()">

<div ng-repeat = "contact in contacts">

<div class="card" ng-click="openModal($index)">
  <div class="item item-divider">
    {{contact.name}}
  </div>
  <div class="item item-text-wrap">
    {{contact.info}}
  </div>
</div>

</div>
</ion-content>
  </ion-tab>
  <ion-tab title="about">
  <ion-header-bar class="bar-stable">
        <h1 class="title">SF Safeways!</h1>
      </ion-header-bar>
      <ion-content scroll="false" ng-controller="AppController">
        <div id="map" class="map" data-tap-disabled="true"></div>
      </ion-content>
  </ion-tab>
  </ion-tabs>
    </ion-pane>
    <script id="contact-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Edit Contact</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="contact.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Info</span>
          <input type="text" ng-model="contact.info">
        </label>
      </div>

      <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
    </ion-content>
  </div>
</script>
  </body>
</html>
